html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

body {
  background: url("../images/bg.png") no-repeat;
  background-size: contain;
  padding-top: 30px;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

header {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(4.5px);
  padding: 24px 0;
}

.header {
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  list-style: none;
  gap: 30px;
}
.nav-menu-link {
  text-decoration: none;
  color: #262A3F;
  font-family: LatoRegular, sans-serif;
  font-size: 1.4rem;
  letter-spacing: 0.128rem;
  padding-bottom: 6px;
}
.nav-menu-link:hover {
  border-bottom: 3px solid rgba(241, 137, 123, 0.3);
}

.about {
  max-width: 523px;
  padding: 150px 0 150px 0;
}

.about-info {
  font-family: PlayfairDisplayRegular;
  font-size: 4.4rem;
}

.about-text {
  font-family: LatoRegular, sans-serif;
  font-size: 1.8rem;
  color: rgba(38, 42, 63, 0.8);
  line-height: 2.6rem;
  padding: 20px 0 50px 0;
}

.italic {
  font-family: PlayfairDisplayItalic;
  color: #85BBB1;
}

.statistics {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 670px;
  background: url("../images/statistic-image.png") no-repeat;
  margin-bottom: 120px;
}
.statistics-info {
  width: 770px;
  padding: 45px 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(38, 42, 63, 0.8);
  font-family: LatoLight, sans-serif;
  font-size: 1.8rem;
}
.statistics-info-text {
  font-family: LatoRegular, sans-serif;
  font-size: 1.8rem;
  color: rgba(38, 42, 63, 0.8);
  line-height: 2.6rem;
  width: 55%;
}
.statistics-info-text p {
  padding-bottom: 50px;
}

.statistics-info-numbers {
  width: 45%;
  text-align: center;
}
.statistics-info-numbers p {
  padding-top: 12px;
}

.currency {
  font-family: PlayfairDisplayRegular;
  font-size: 4rem;
  color: #E4E4E4;
}

.statistics-info-numbers-data {
  font-family: PlayfairDisplayRegular;
  font-size: 6.8rem;
  color: #262A3F;
}

.divider {
  background-color: #85BBB1;
  width: 100px;
  height: 1px;
  margin: 40px auto;
}

.btn-container {
  display: inline-block;
  position: relative;
}
.btn-container:hover .btn {
  color: #E54F3A;
}
.btn-container:hover .btn-shadow {
  background-color: rgba(229, 79, 58, 0.3);
}

.btn {
  border: none;
  text-transform: uppercase;
  color: #F1897B;
  background-color: rgba(255, 255, 255, 0);
  font-family: LatoBold, sans-serif;
  font-size: 2rem;
  letter-spacing: 0.128rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-shadow {
  width: 100%;
  background-color: rgba(241, 137, 123, 0.3);
  height: 13px;
  position: absolute;
  top: 11px;
  right: -9px;
}

.benefits {
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 90px;
}

.benefits-card {
  width: 48%;
  min-height: 280px;
  padding: 50px 35px 0 35px;
  margin-bottom: 30px;
  border-top: 1px solid #E4E4E4;
}

.benefits-card-title {
  font-family: PlayfairDisplayRegular;
  font-size: 4rem;
  line-height: 4.8rem;
  padding-bottom: 30px;
}

.benefits-card-text {
  font-family: LatoRegular, sans-serif;
  font-size: 1.8rem;
  color: rgba(38, 42, 63, 0.8);
  line-height: 2.6rem;
}

.quote {
  background: url("../images/quote-background.png") no-repeat;
  background-size: cover;
  padding: 100px 300px 100px 160px;
  color: #FFFFFF;
}

.quote-text {
  font-family: LatoRegular, sans-serif;
  font-size: 3.2rem;
  line-height: 4.6rem;
  padding-bottom: 40px;
  z-index: 10;
  position: relative;
}

.quote-author {
  font-family: PlayfairDisplayItalic;
  font-size: 2rem;
}

.quote-icon {
  fill: #3DB370;
  position: absolute;
  top: -30px;
  left: -60px;
  width: 102px;
  height: 84px;
  z-index: -1;
}

.promises {
  background: url("../images/features-background-image.png") no-repeat;
  height: 540px;
  justify-content: right;
}
.promises-info-cards-title {
  font-family: PlayfairDisplayRegular;
  font-size: 2.4rem;
  line-height: 4.8rem;
}

/*# sourceMappingURL=index.css.map */
