@font-face {
  font-family: MontserratRegular, sans-serif;
  src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
  font-family: MontserratMedium, sans-serif;
  src: url("../fonts/Montserrat/static/Montserrat-Medium.ttf");
}