$font-size-primary: 1.6rem;
$color-primary: #000000;
$color-gray-middle: #828282;
$color-gray-dark: #4F4F4F;
$color-gray-light:#BDBDBD;
$color-purple-light: #9E8CFC;
$color-white: #FFFFFF;
$color-success: #6FCF97;
$color-error: #EA5455;
$color-warning: #F2C94C;
$color-bg-dark: #283046;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

body {
  font-family: MontserratRegular, sans-serif;
  font-size: $font-size-primary;
  color: $color-gray-dark;
}

.sidebar {
  @include flex-column;
  width: 220px;
  padding: 30px 0;
}

.sidebar-theme {
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 40px 15px;
}

.sidebar-logo {
  cursor: url("../images/cursor.svg"), auto;
}

.sidebar-header {
  color: $color-gray-dark;
}

.sidebar-arrow {
  color: $color-gray-dark;
  align-self: center;
  width: 20px;
  height: 20px;
  cursor: url("../images/cursor.svg"), auto;
}

.sidebar-title {
  color: $color-gray-middle;
  padding: 30px 0 10px 15px;
}

.sidebar-item {
  align-items: center;
  gap: 20px;
  padding: 10px 15px;
  color: $color-gray-dark;
  &:hover {
    background-color: $color-purple-light;
    box-shadow: 0px 0px 20px rgba(158, 140, 252, 0.7);
    cursor: url("../images/cursor.svg"), auto;
    .icon, .sidebar-item-text {
      color: $color-white;
    }
  }
}

.icon {
  width: 26px;
  height: 26px;
  color: $color-gray-dark;
}

.badge {
  position: relative;
  &-circle {
    position: absolute;
    right: -14px;
    top: -6px;
    background-color: #007BFF;
    min-width: 20px;
    height: 20px;
    text-align: center;
    font-size: 1.2rem;
    line-height: 20px;
    border-radius: 50%;
  }
}

.badge-success {
  .badge-circle {
    background-color: $color-success;
  }
}

.badge-error {
  .badge-circle {
    background-color: $color-error;
    color: $color-white;
  }
}

.badge-warning {
  .badge-circle {
    background-color: $color-warning;
  }
}

.sidebar-divider {
  width: 40px;
  height: 4px;
  margin: 50px auto 25px auto;
  display: none;
}

.sidebar-mini {
  width: 80px;
  padding-left: 0;
  padding-right: 0;
  .sidebar-header, .sidebar-item-text, .sidebar-title {
    display: none;
  }
  .sidebar-item {
    justify-content: center;
  }
  .sidebar-divider {
    display: block;
  }
  .sidebar-theme {
    justify-content: center;
    position: relative;
  }
  .sidebar-arrow {
    position: absolute;
    right: -11px;
    top: 9px;
    transform: rotateZ(180deg);
  }
}

.sidebar-bg-dark {
  background-color: $color-bg-dark;
  .icon, .sidebar-title, .sidebar-item-text, .sidebar-header, .sidebar-arrow {
    color: $color-gray-light;
  }
  .sidebar-item, .sidebar-logo, .sidebar-arrow:hover {
    cursor: url("../images/cursor-white.svg"), auto;
  }

}