html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$yellow-color: #FFCC00;
$gray-color-primary: #666666;
$border: 1px solid $yellow-color;

.flex {
  display: flex;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  padding-top: 121px;
}

.slogan {
  color: #898F8F;
  font-family: RalewayMedium, sans-serif;
  font-size: 1.8rem;
}

.title {
  color: $yellow-color;
  font-family: RobotoBlack, sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  padding: 15px 0 40px 0;
}

.fire-lines {
  gap: 5px;
  max-width: 450px;
  margin: 0 auto;
  padding-bottom: 40px;
}

.line {
  width: 210px;
  height: 1px;
  background-color: $yellow-color;
  align-self: center;
}

.hero-photo {
  width: 50%;
  padding: 70px;
  border-right: $border;
}

.hero-photo-frame {
  position: relative;
}

.hero-photo-frame-box {
  width: 100px;
  height: 100px;
  position: absolute;

}

.frame-box-1 {
  border-left: $border;
  border-top: $border;
  top: -15px;
  left: -15px;
}

.frame-box-2 {
  border-right: $border;
  border-top: $border;
  top: -15px;
  right: -15px;
}

.frame-box-3 {
  border-right: $border;
  border-bottom: $border;
  bottom: -15px;
  right: -15px;
}

.frame-box-4 {
  border-bottom: $border;
  border-left: $border;
  bottom: -15px;
  left: -15px;
}

.hero-photo-img {
  width: 100%;
}

.hero-info {
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 70px;
}

.hero-info-header {
  color: $gray-color-primary;
  font-family: RobotoBlack, sans-serif;
  font-size: 3.6rem;
}

.hero-info-divider {
  width: 100px;
  height: 1px;
  background-color: $yellow-color;
  margin: 30px 0;
}

.hero-info-subheader {
  color: $gray-color-primary;
  font-family: RalewayRegular, sans-serif;
  font-size: 2.4rem;
}

.hero-info-media {
  gap: 10px;
  padding: 30px 0 50px 0;
}

.hero-info-media-svg {
  width: 30px;
  height: 30px;
}

.hero-info-media-svg:hover {
  fill: $yellow-color;
}

.hero-info-text {
  color: #333333;
  font-family: RalewayMedium, sans-serif;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.hero-info-dividers {
  gap: 5px;
  margin: 15px 0 25px 0;
}

.hero-info-divider-sm {
  width: 10px;
  height: 4px;
  background-color: $yellow-color;
}

.hero-info-divider-lg {
  width: 20px;
  height: 4px;
  background-color: $yellow-color;
}

.btn {
  text-transform: uppercase;
  color: $gray-color-primary;
  font-family: OpenSans, sans-serif;
  font-size: 1.4rem;
  padding: 5px 10px;
  background-color: white;
  border: $border;
}

.btn:hover {
  background-color: #898F8F;
  color: $yellow-color;
}

.hero-info-media-link {
  color: #CCCCCC;
}

.hero-info-media-link:hover {
  color: $yellow-color;
}
