html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 121px;
}

.slogan {
    color: #898F8F;
    font-family: RalewayMedium, sans-serif;
    font-size: 1.8rem;
}

.title {
    color: #FFCC00;
    font-family: RobotoBlack, sans-serif;
    font-size: 6rem;
    text-transform: uppercase;
    padding: 15px 0 40px 0;
}

.fire-lines {
    gap: 5px;
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.line {
    width: 210px;
    height: 1px;
    background-color: #FFCC00;
    align-self: center;
}

.hero {

}

.hero-photo {
    width: 50%;
    padding: 70px;
    border-right: 1px solid #FFCC00;
}

.hero-photo-frame {
    position: relative;

}

.hero-photo-frame-box {
    width: 100px;
    height: 100px;
    position: absolute;

}

.frame-box-1 {
    border-left: 1px solid #FFCC00;
    border-top: 1px solid #FFCC00;
    top: -15px;
    left: -15px;
}

.frame-box-2 {
    border-right: 1px solid #FFCC00;
    border-top: 1px solid #FFCC00;
    top: -15px;
    right: -15px;
}

.frame-box-3 {
    border-right: 1px solid #FFCC00;
    border-bottom: 1px solid #FFCC00;
    bottom: -15px;
    right: -15px;
}

.frame-box-4 {
    border-bottom: 1px solid #FFCC00;
    border-left: 1px solid #FFCC00;
    bottom: -15px;
    left: -15px;
}

.hero-photo-img {
    width: 100%;
}

.hero-info {
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 70px;
}

.hero-name {
    color: #666666;
    font-family: RobotoBlack, sans-serif;
    font-size: 3.6rem;
}

.hero-divider {
    width: 100px;
    height: 1px;
    background-color: #FFCC00;
}

.hero-job {
    color: #666666;
    font-family: RalewayRegular, sans-serif;
    font-size: 2.4rem;
}

.hero-media {
    gap: 10px;
}

.hero-media-svg {
    width: 30px;
    height: 30px;
}

.hero-media-svg:hover {
    fill: #FFCC00;
}

.hero-text {
    color: #333333;
    font-family: RalewayMedium, sans-serif;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

.hero-dividers {
    gap: 5px;
}

.hero-divider-sm {
    width: 10px;
    height: 4px;
    background-color: #FFCC00;
}

.hero-divider-lg {
    width: 20px;
    height: 4px;
    background-color: #FFCC00;
}

.hero-btn {
    text-transform: uppercase;
    color: #666666;
    font-family: OpenSans, sans-serif;
    font-size: 1.4rem;
    padding: 5px 10px;
    background-color: white;
    border: 1px solid #FFCC00;
}

.hero-btn:hover {
    background-color: #898F8F;
    color: #FFCC00;
}

.media-link {
    color: #CCCCCC;
}

.media-link:hover {
    color: #FFCC00;
}
